body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo{
    height: 50px ;
}
.weather-icon{
    height: 20px;
}



